@font-face {
    font-family: "Inter";
    src: url("./assets/Inter-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

ul {
    list-style-type: none;
}

p {
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-color: #1F1F1F;
    border-radius: 12px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 32px;
    padding-bottom: 32px;
}

#user_profile {
    width: 90px;
    margin-bottom: 24px;
    border-radius: 50%;
}

#user_name {
    font-size: 24px;
}

#user_address {
    font-size: 14px;
    margin: 4px;
    margin-bottom: 24px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

#user_designation {
    margin-bottom: 24px;
}

#social_profiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#social_profiles li {
    margin: 7px;
    background-color: #333333;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
}