@font-face {
    font-family: Karla;
    src: url("./assets/Karla-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla;
}

body {
    background-color: rgb(222, 232, 236);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

#counter_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
}

.partition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 12px;
}

#middle_section {
    background-color: rgba(255, 255, 255, 0.392);
    border-radius: 12px;
    padding: 24px;
}

#count_line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 24px;
}

.buttons {
    padding: 12px;
    color: white;
    border: 2px solid black;
    font-size: 24px;
    border-radius: 7px;
    background-color: rgb(115, 121, 123);
}