@font-face {
    font-family: lexend;
    src: url("./assets/LexendDeca-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: big-shoulders;
    src: url("./assets/BigShoulders_24pt-Regular.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: big-shoulders;
}

li {
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    background-size: cover;
}

#main_content_body {
    max-width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 24px;
    
}

#card_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card_name {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 42px;
    color: hsl(0, 0%, 95%);
}

.card_description {
    font-size: 15px;
    font-family: lexend;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 80px;
    line-height: 26px;
}

.card_section {
    width: 100%;
    height: 100%;
    padding: 48px;
    color: white;
}

#sedan_section {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
#suv_section {
    background-color: hsl(184, 100%, 22%);
}
#luxury_section {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.learn_more_button {
    width: 70%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 24px;
    font-family: lexend;
}

#learn_more_sedan {
    color: hsl(31, 77%, 52%);
}

#learn_more_suv {
    color: hsl(184, 100%, 22%);
}

#learn_more_luxury {
    color: hsl(179, 100%, 13%);
}