* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(185, 75%, 39%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
}

#pattern_top {
    position: absolute;
    top: -50%;
    left: 5%;
    height: 100%;
    background-size: cover;
}

#pattern_bottom {
    position: absolute;
    bottom: -100%;
    right: -15%;
    height: 150%;
    background-size: cover;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#profile_image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    z-index: 1;
}

#profile_section {
    height: 50%;
    position: relative;
    width: 100%;
    padding-top: 90px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px 12px 0 0;
}

#profile_name_section {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name_age_count{
    margin-top: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_name{
    font-size: 20px;
    font-weight: 600;
}

#user_age {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 500;
    color: hsl(227, 10%, 46%);
}

#user_location {
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

#profile_description_section{
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(60, 60, 60);
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.posts_description{
    width: 30%;
    margin: 0%;
    padding: 0%;
}

.posts_info{
    font-size: 18px;
    font-weight: 600;
    margin: 10% 0% 0% 0%;
}

.posts_heading{
    font-size: 16px;
    font-weight: 100;
    color: hsl(227, 10%, 46%);
}

#content_box {
    width: 90%;
    max-width: 350px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

#top_design {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-image: url("./assets/bg-pattern-card.svg");
    background-size: cover;
    border-radius: 12px 12px 0 0;
}