@font-face {
  font-family: Roboto;
  src: url("./assets/RobotoSerif_28pt-Regular.ttf");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: rgba(55, 55, 233, 0.299);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.container {
  width: 100%;
  max-width: 460px;
  padding: 20px;
}

.stopwatch {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 32px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: black;
}

.time {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: black;
}

.controls {
  display: flex;
  gap: 12px;
}

.btn {
  flex: 1;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.btn-start {
  background-color: rgba(0, 128, 0, 0.797);
}

.btn-stop {
  background-color: rgba(255, 0, 0, 0.764);
}

.btn-reset {
  background-color: rgba(0, 0, 255, 0.753);
}
