* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Hanken";
    src: url("./assets/HankenGrotesk-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken;
}

li {
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    font-family: Arial, sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#summary_section {
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 24px;
}

#summary_detail_section {
    width: 100%;
    padding: 32px;
    font-size: 18px;
    font-weight: 600;
    display: grid;
    row-gap: 12px;
}

#summary_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.summary_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    background-color: green;
    margin-top: 8px;
    margin-bottom: 8px;
}

#continue_button {
    width: 100%;
    background-color: #303C58;
    margin: 4% 0% 10% 0%;
    padding: 4%;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

#reaction_item {
    background-color: blue;
    color: hsl(0, 100%, 67%);
    background-color: #FFF7F5;
}
#memory_item {
    background-color: blue;
    color: hsl(39, 100%, 56%);
    background-color: #FFFBF5;
}
#verbal_item {
    background-color: blue;
    color: hsl(166, 100%, 37%);
    background-color: #F1FDF9;
}
#visual_item {
    background-color: blue;
    color: hsl(234, 85%, 45%);
    background-color: #F4F5FE;
}

.summary_item_value {
    color: hsl(220, 4%, 67%);
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.summary_item_percentage {
    font-weight: 600;
    color: black;
}

.reaction_icon {
    background-size: cover;
    width: 24px;
}

#summary_overview_section {
    display: grid;
    width: 100%;
    padding: 26px;
    grid-template-rows: 40px 200px auto auto ;
    font-size: 24px;
    place-items: center;
    text-align: center;
    color: white;
    border-radius: 24px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

#percentage_circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    min-width: 60%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#percentage_value {
    font-size: 64px;
}

#outof_value {
    font-size: 16px;
    color: hsl(241, 100%, 89%);
}

#summary_text1 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 32px;
}

#summary_text2 {
    font-size: 16px;
    padding-left: 42px;
    padding-right: 42px;
    color: hsl(241, 100%, 89%);
}