body {
    min-height: 100vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapershome.com/images/pages/ico_h/28312.jpg");
    background-size: cover;
}

#content_box {
    width: 90%;
    max-width: 620px;
    background-color: white;
    border-radius: 24px;
    display: flex;
}

#score_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(110, 77, 230);
    color: white;
    border-radius: 24px;
}

#summary_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.summary_item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

#result_value {
    min-width: 120px;
    min-height: 120px;
    width: 30%;
    height: 30%;
    color: white;
    background-color: rgb(87, 45, 241);
    padding: 12px;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0%;
}

#result_text {
    margin: 0%;
    font-weight: bold;
    color: rgb(185, 169, 242);
}

#result_great {
    font-size: 20px;
    margin: 0%;
    margin-top: 5%;
}

#result_description {
    width: 80%;
    font-size: 15px;
    margin: 0%;
    margin-top: 5%;
    color: #c3c4c5;
}

#summary_heading {
    width: 100%;
    padding: 0% 0% 0% 20%;
    text-align: start;
}

.summary_item {
    width: 80%;
    background-color: rgb(195, 239, 195);
    padding: 4% 0% 4% 0%;
    border-radius: 12px;
    font-weight: bold;
}

#continue_button {
    width: 80%;
    background-color: #303C58;
    margin: 4% 0% 10% 0%;
    padding: 4%;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}

#continue_button:hover {
    background-color: #4b5671;
}