@font-face {
    font-family: Barlow;
    src: url("./assets/BarlowSemiCondensed-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Spartan;
    src: url("./assets/LeagueSpartan-Regular.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spartan;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(214, 17%, 92%);
}


main {
    width: 2240px;
}

#blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
}

.blog_item {
    display: grid;
    row-gap: 42px;
    margin: 28px;
    padding: 42px;
    border-radius: 14px;
    color: white;
}

.image_name_section {
    display: flex;
    gap: 24px;
    align-items: center;
}

.image_name_section img {
    width: 40px;
    border-radius: 50%;
}

.name_status {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-family: Barlow;
    font-size: 22px;
}

.status {
    font-size: 18px;
}

.description_one {
    font-size: 42px;
    line-height: 48px;
}

.description_two {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.741);
    line-height: 32px;
}

#blog_one {
    background-color: hsl(263, 55%, 52%);
    grid-column: 1 / 3;
    grid-row: 1;
}

#blog_two {
    background-color: hsl(217, 19%, 35%);
    grid-column: 3;
    grid-row: 1;
}

#blog_three {
    color: hsl(219, 29%, 14%);
    background-color: white;
    grid-column: 1;
    grid-row: 2;
}

#blog_three .description_two {
    color: hsla(217, 30%, 14%, 0.53);
}

#blog_four {
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 / 4;
    grid-row: 2;
}

#blog_five {
    color: hsl(219, 29%, 14%);
    background-color: white;
    grid-column: 4;
    grid-row: 1 / 3;
}

#blog_five .description_two {
    color: hsla(217, 30%, 14%, 0.53);
}